# SQL - Homework

## Please find the Entity Relationship Diagram of a simple database with two entities below: CLIENT and TRANSACTION

<img src="files/img/ERD_SQL_Homework.png">

#### Sample data of the CLIENT table:
| CLIENT_ID	| FIRST_NAME  | LAST_NAME |	CLIENT_SINCE |	CLIENT_EMAIL |
| --- | --- | --- | --- | --- |
|1|Alison|Blake|2017-01-01 00:00:00.000|Alison.Blake@gmail.com|
|2|Amanda|Bond|2017-05-01 00:00:00.000|Amanda.Bond@gmail.com|
|3|Amelia|Bower|2016-05-01 00:00:00.000|ABoweratgmail.com|
|4|Megan|Brown|2016-10-05 00:00:00.000|NULL|
|5|Melanie|Buckland|2018-01-05 00:00:00.000|Melanie.Buckland@gmail.com|

#### Sample data of the TRANSACTION table:
| TRAN_ID	| TRAN_DESCRIPTION  | DATE |	TRAN_AMOUNT |	CLIENT_ID |
| --- | --- | --- | --- | --- |
|1|ACH DEBIT|2018-01-01 00:00:00.000|-215.83|1|
|2|DEBIT CARD|2018-01-01 00:00:00.000|-209.16|1|
|3|ACH DEBIT|2018-01-02 00:00:00.000|-75|1|
|4|DEBIT CARD|2018-01-02 00:00:00.000|-63.92|1|
|5|INTERNET TRANSFER|2018-01-03 00:00:00.000|-25|1|
|6|NULL|2018-01-03 00:00:00.000|-25|1|
|7|DEBIT CARD LAS VEGAS|2018-01-03 00:00:00.000|-25|1|
|8|ACH DEBIT|2018-01-01 00:00:00.000|-9.99|2|
|9|DEBIT CARD|2018-01-01 00:00:00.000|-411.34|2|
|10|ACH DEBIT|2018-01-02 00:00:00.000|-65.99|2|

## Please write your answers to the following questions in a markdown cell:

- Note:
    - total time to complete the homework: about 30 minutes.

### Part A - Provide the SQL queries to answer the following questions (not the outputs):

The evaluation of your queries will emphasize logic more than syntax.

#### i) How many rows are there in the CLIENT table?

##### Question i - double click and write your answer below:
```*.sql
SELECT COUNT(*) AS NUMBER_OF_ROWS
FROM CLIENT
```

#### 1) How many transactions are there in the TRANSACTION table? (1 min)

##### Question 1 - double click and write your answer below:
```*.sql
SELECT COUNT(*) AS NUMBER_OF_ROWS
FROM TRANSACTION
```

#### 2) How many clients have been with the bank for at least 2 years (as of today, the day you do the homework)? (2 mins)

##### Question 2 - double click and write your answer below:
```*.sql
select 
    count(client_id) as Num_Client_Y2
from client 
where dateadd(year,2,client_since)<=GETDATE()
```

#### 3) Which client has the largest number of transactions? (2 mins)

##### Question 3 - double click and write your answer below:
```*.sql
select
    top 1 c.client_id,CONCAT(c.first_name,' ',c.last_name) as Client_Most_Trans
from
    client c
    left join
        (select
            client_id,
            count(tran_id) as num_trans
        from transaction
        group by client_id) t 
    on t.client_id = c.client_id
order by t.num_trans DESC
```

#### 4) Which clients have at least 5 ACH transactions ("ACH" is the type of the transaction, included in the description of the transaction)? (3 mins)

##### Question 4 - double click and write your answer below:
```*.sql
select
    c.client_id,
    CONCAT(c.first_name,' ',c.last_name) as Client_ACH_5Trans
from
	(select
		client_id,count(tran_id) as num_trans
	from transaction
	where tran_description like 'ACH%'
	group by client_id) t
join
	client c on t.client_id=c.client_id
where t.num_trans>=5
```

#### 5) Produce a list of all clients with their total number of transactions? (3 mins)

##### Question 5 - double click and write your answer below:
```*.sql
select
	c.client_id,
    CONCAT(c.first_name,' ',c.last_name) as Client_Name,
	isnull(t.num_trans,0) as Number_Transaction
from client c
left join
	(select
		client_id,count(tran_id) as num_trans
	from transaction
	group by client_id) t
on t.client_id=c.client_id
```

#### 6) Select all clients who have a valid email? (3 mins)

##### Question 6 - double click and write your answer below:
```*.sql
select
    client_id,
    CONCAT(first_name,' ',last_name) as Client_Name
from client
where client_email not like 'Null'
```

#### 7) Select the top 3 transactions for each client based on the \$ amount (absolute $ amount)? (5 mins)

[hint - TSQL](https://docs.microsoft.com/en-us/sql/t-sql/functions/row-number-transact-sql?view=sql-server-2017)

[hint - PL/SQL](https://docs.oracle.com/cd/B19306_01/server.102/b14200/functions137.htm)

[hint - MySQL](https://dev.mysql.com/doc/refman/8.0/en/window-functions-usage.html)

##### Question 7 - double click and write your answer below:
```*.sql
Please Note: The following Code is base on SQL Server

select
	c.client_id,
	CONCAT(c.first_name,' ',c.last_name) as Client_Name,
	t.amt as Number_Transaction
from
	client c left join
	(select
		client_id,
		tran_amount as amt,
		rank() over (partition by client_id order by abs(tran_amount) DESC) as amt_rnk
	from transaction) t
	on c.client_id=t.client_id
where t.amt_rnk<=3
```

### Part B - For the following questions, provide an answer as plain english (not SQL queries):

#### 8) Do queries A and B produce the same result and why? (2 mins)
##### Query A:
```*.sql
SELECT COUNT(*) AS NUMBER_TRANSACTIONS
FROM [TRANSACTION]
;
``` 
##### Query B:

```*.sql
SELECT COUNT(TRAN_DESCRIPTION) AS NUMBER_TRANSACTIONS
FROM [TRANSACTION]
;
```

##### Question 8 - double click and write your answer below:
<div style="color: green;">

No. Queries A and B may produce different result. Query A counts a transaction if all the entries are not null, where as Query B will count a transaction if the TRAN_DESCRIPTION entry is not null.

For example with the table below.
    
    - Query A will return 2
    - Query B will return 1
    
| TRAN_ID	| TRAN_DESCRIPTION  | DATE |	TRAN_AMOUNT |	CLIENT_ID |
| --- | --- | --- | --- | --- |
|1|Null|2018-01-01 00:00:00.000|-215.83|1|
|2|DEBIT CARD|2018-01-01 00:00:00.000|-209.16|1|
    
</div>

#### 9) Context:

One of your collegue runs an ETL everyday (incremental load) in order to extract ACH transactions from the TRANSACTION table and use this piece of data as a feature for a machine learning model. The data pipeline is slow and the extraction of relevant transactions from the TRANSACTION table seems to be the bottleneck of this data pipeline. He asked the dba team (database administrator team) to create "releavant" indexes to smooth the process. The dba team replied that the TRANSACTION table already has an index on the primary key.

#### Can you explain what will be your approach to better diagnose the situation and offer suggestion(s) to improve the data pipeline? (Pros and Cons). (3 mins)

##### Question 9 - double click and write your answer below:
<div style="color: green;">

My approach to diagnose the situation are in the following steps:
1.	What ‘releavant’ indexes my collegue is proposing to include in the database? 
2.	Understand what is the desire feature my collegue needs from the incremental extraction? Does he/she need all the ACH details or just need part of the fields. Say all columns vs only need the Tran_Amount without the exact transaction time. 
3.	Understand how is the incremental daily transaction is integrating into the main/backend database. Some companies have temporary daily sub-database where the amount of data is much smaller than the main ones. 
4.	Understand what is the desire time to load the incremental data? Can we run the ELT overnight?

Here are some suggestions:

| Suggestion	| Approach  | Pros | Cons |
| --- | --- | --- | --- |
|A - Create Index|Create an indicator to flag ACH transactions and/or the current date if needed|Higher speed than checking if string ‘ACH’ is present in ‘TRAN_DESCRIPTION’ |Require dba team to preprocess the data, increase in data size|
|B - Partition Large Tables|Suggest to ELT only the daily transaction sub-database if available|Much smaller data size to work with hence greater speed enhancement |Require dba team to partition a daily sub-database if not currently available|
|C - Cut Out Extraneous Data|On top of Suggestion B, remove any data field that is not required before Aextraction, for example if only transaction amount is interested, we can remove the datetime field |Further trim the data size hence greater speed enhancement |Require dba team to preprocess the data|
|D - Cache the Data|load incremental data into memory before ELT|Minimum changes to current process |Cost: Limit to hardware supports|
|E - Process in Parallel|Use additional hardware to boost speed (ie parallel computing) |Minimum changes to current process| Cost: Limit to hardware supports|
|F – Process timing|Schedule to run ELT overnight |Minimum changes to current process| Unable to resolve problems real time|

</div>

#### 10) How much time did you spend on this homework? Was it difficult or easy? (2 mins)

##### Question 10 - double click and write your answer below:
<div style="color: green;">

Spend about 35 mins. The questions are interesting and straightforward.
</div>